<%- include("templates/header", { logout: true }) %>
<div class="nes-container with-title is-centered">
  <div>404 - Not Found</div>
  <a href="/"><button class="m-3">Back to Homepage<button></a>
</div>
<%- include("templates/footer") %>
