<%- include("templates/header", { logout: false }) %>
<style>
  #error {
    color: red;
  }
</style>
<div class="nes-container with-title is-centered">
  <p class="title">Sign Up</p>
  <form action="/signup" method="post">
    <input name="firstName" type="text" placeholder="First Name" />
    <input name="lastName" type="text" placeholder="Last Name" />
    <input name="email" type="text" placeholder="Email" />
    <input name="password" type="password" placeholder="Password" />
    <input
      name="confirmPassword"
      type="password"
      placeholder="Confirm Password"
    />
    <button class="m-3">Submit</button>
  </form>
  <% if (errors) { %>
    <ul id=error style="list-style: none; padding: 0;">
      <% for (let i = 0; i < errors.length; i++) { %>
        <li><%= errors[i] %></li>
      <% } %>
    </ul>
  <% } %>
  <div>Have an account? <a href="/signin">Login</a></div>
</div>
<%- include("templates/footer") %>
