<!DOCTYPE html>
<html lang="en">

<head>
  <base href="<%= baseUrl %>">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/cloudinary-jquery@2.11.3/cloudinary-jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
  <script src="./jquery-3.6.1.min.js"></script>
  <script src="./helper.js?v=3"></script>

  <link rel="stylesheet" href="./cyber-grid.css">
  <link rel="stylesheet" href="./cyberpunk.css">
  <link rel="stylesheet" href="./style.css">

  <link rel="icon" type="image/png" href="./img/favicon.png" sizes="512x512">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyberpunk Read-t</title>
  <% if (locals.scripts) { %>
    <% for(var i=0; i<scripts.length; i++) { %>
      <script src="<%= scripts[i]%>"></script>
      <% } %>
        <% } %>
</head>

<body class="">
  <nav id="header" class="navbar navbar-expand-lg bg-black fg-white cyber-razor-bottom pt-0 pl-8 pb-4">
    <div class="container-fluid">
      <div class="navbar-brand">
        <%- !logout ? '<a href="/threads"><button class="cyber-button bg-blue fg-white">View Threads</button></a>'
          : '<a href="/threads"><button class="cyber-button bg-blue fg-white">View Threads</button></a> / <a href="/my-threads"><button class="cyber-button bg-green fg-white">My Threads</button></a>'
          %>
      </div>
      <span class="cyberpunk-font-og f-x2-5">
        <span class="c">C</span>yber <span class="p">R</span>ead-<span class="p">IT</span>
    </span>
      <div class="navbar-brand ms-auto"> <!-- `ms-auto` pushes this div to the right -->
        <%- !logout
          ? '<a href="/signin"><button class="cyber-button bg-dark fg-white">Login</button></a> / <a href="/signup"><button class="cyber-button bg-cyan fg-white">Sign Up</button></a>'
          : '<a href="/signout"><button class="cyber-button bg-red fg-white">Logout</button></a>' %>
      </div>
    </div>
  </nav>
